__pycache__/
*.pyc
*.pyo
venv/
.venv/
logs/*.log
uploads/*
!uploads/.gitkeep
static/*
!static/.gitkeep
*.db
.idea/
.vscode/
uploads/
core.*
alembic.ini
alembic/
database.db
dev.db
test.db
# .env.local
# .env.*
